.Rproj.user
.Rhistory
.RData
.Ruserdata
analysis/legacy
data/other
data/legacy
*.wav
data/exp2/SungRecalls_Transcriptions/
data/exp2/SungRecalls_Transcriptions2/
.DS_Store
data/exp2/final_results_from_sonscience_project/sonscience_melodic_recall_audio
data/exp2/final_results_from_sonscience_project/sonscience_melodic_recall_audio_long_note
PERSONAL_README.Rmd
.RDataTmp
~$A_Manuscript_SAA_Paper_BRM.docx
~$M_ResponseToReviewers_DM.docx
